In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
import os
import json
import gmaps.datasets
import ipywidgets as widgets
# Import the API key.
from config import google_api_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=google_api_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather description
0,0,Dunedin,NZ,-45.8742,170.5036,56.80,72,100,1.03,overcast clouds
1,1,Oistins,BB,13.0667,-59.5333,82.49,78,40,9.22,scattered clouds
2,2,Acarau,BR,-2.8856,-40.1200,77.85,83,60,17.90,broken clouds
3,3,Rognan,NO,67.0953,15.3878,48.88,93,100,2.37,overcast clouds
4,4,Iquitos,PE,-3.7481,-73.2472,78.84,89,40,4.61,scattered clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your minimum temperature you would like for your vacation?"))
max_temp = float(input("What is your maximum temperature you would like for your vacation?"))

What is your minimum temperature you would like for your vacation?65
What is your maximum temperature you would like for your vacation?85

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
new_city_data_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
new_city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather description
1,1,Oistins,BB,13.0667,-59.5333,82.49,78,40,9.22,scattered clouds
2,2,Acarau,BR,-2.8856,-40.1200,77.85,83,60,17.90,broken clouds
4,4,Iquitos,PE,-3.7481,-73.2472,78.84,89,40,4.61,scattered clouds
6,6,Dingle,PH,10.9995,122.6711,83.93,75,56,7.74,broken clouds
8,8,Eslamshahr,IR,35.5605,51.2346,72.84,37,40,11.50,scattered clouds

In [7]:
# 4a. Determine if there are any empty rows.
# np.where(pd.isnull(new_city_data_df))
new_city_data_df.count()

City_ID                373
City                   373
Country                372
Lat                    373
Lng                    373
Max Temp               373
Humidity               373
Cloudiness             373
Wind Speed             373
Weather description    373
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = new_city_data_df.dropna()
clean_df.count()
# clean_df.columns

City_ID                372
City                   372
Country                372
Lat                    372
Lng                    372
Max Temp               372
Humidity               372
Cloudiness             372
Wind Speed             372
Weather description    372
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
1,Oistins,BB,82.49,scattered clouds,13.0667,-59.5333,
2,Acarau,BR,77.85,broken clouds,-2.8856,-40.1200,
4,Iquitos,PE,78.84,scattered clouds,-3.7481,-73.2472,
6,Dingle,PH,83.93,broken clouds,10.9995,122.6711,
8,Eslamshahr,IR,72.84,scattered clouds,35.5605,51.2346,
9,Awjilah,LY,79.99,clear sky,29.1081,21.2869,
10,Aracati,BR,77.63,overcast clouds,-4.5617,-37.7697,
12,Mahebourg,MU,67.24,clear sky,-20.4081,57.7000,
13,Mackay,AU,78.67,clear sky,-21.1500,149.2000,
14,Sibolga,ID,80.01,overcast clouds,1.7427,98.7792,

In [10]:
# from config import g_key
# gmaps.configure(api_key=g_key)
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key,
}

# 6b. Iterat``e through the hotel DataFrame.
# for index, row in hotel_df.head(10).iterrows():
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
  
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    from pprint import pprint

#     pprint(hotels)
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head(10)

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
1,Oistins,BB,82.49,scattered clouds,13.0667,-59.5333,Butterfly Beach Hotel
2,Acarau,BR,77.85,broken clouds,-2.8856,-40.1200,castelo pizzaria
4,Iquitos,PE,78.84,scattered clouds,-3.7481,-73.2472,Cortez Malaga Techy Caroly
6,Dingle,PH,83.93,broken clouds,10.9995,122.6711,SEGAYA PROPERTY
8,Eslamshahr,IR,72.84,scattered clouds,35.5605,51.2346,چاپ و تبلیغات روژان گرافیک
9,Awjilah,LY,79.99,clear sky,29.1081,21.2869,المنزل
10,Aracati,BR,77.63,overcast clouds,-4.5617,-37.7697,Hostel Pousada Ibiza
12,Mahebourg,MU,67.24,clear sky,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
13,Mackay,AU,78.67,clear sky,-21.1500,149.2000,International Lodge Motel
14,Sibolga,ID,80.01,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna() 
clean_hotel_df.head()

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
1,Oistins,BB,82.49,scattered clouds,13.0667,-59.5333,Butterfly Beach Hotel
2,Acarau,BR,77.85,broken clouds,-2.8856,-40.1200,castelo pizzaria
4,Iquitos,PE,78.84,scattered clouds,-3.7481,-73.2472,Cortez Malaga Techy Caroly
6,Dingle,PH,83.93,broken clouds,10.9995,122.6711,SEGAYA PROPERTY
8,Eslamshahr,IR,72.84,scattered clouds,35.5605,51.2346,چاپ و تبلیغات روژان گرافیک

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))